<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.hjwylde.rivers">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".RiversApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Rivers.Dark"
        tools:replace="android:allowBackup">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".ui.activities.SplashActivity"
            android:label="@string/title_activity_splash"
            android:noHistory="true"
            android:theme="@style/Theme.Rivers.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MapsActivity"
            android:label="@string/title_activity_maps"
            android:theme="@style/Theme.Rivers.Dark.NoActionBar.Translucent">
        </activity>
        <activity
            android:name=".ui.activities.CreateSectionActivity"
            android:label="@string/title_activity_createSection"
            android:parentActivityName=".ui.activities.MapsActivity"
            android:theme="@style/Theme.Rivers.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hjwylde.rivers.ui.activities.MapsActivity"/>
        </activity>
        <activity
            android:name=".ui.activities.EditSectionActivity"
            android:label="@string/title_activity_editSection"
            android:parentActivityName=".ui.activities.MapsActivity"
            android:theme="@style/Theme.Rivers.Light.NoActionBar.Popup"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hjwylde.rivers.ui.activities.MapsActivity"/>
        </activity>
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.activities.MapsActivity"
            android:theme="@style/Theme.Rivers.Dark">
        </activity>
        <activity
            android:name=".ui.activities.LicensesActivity"
            android:label="@string/title_activity_licenses"
            android:parentActivityName=".ui.activities.SettingsActivity"
            android:theme="@style/Theme.Rivers.Dark">
            <intent-filter>
                <action android:name=".ui.activities.LicensesActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>