<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.hjwylde.rivers">

    <!-- Self explanatory -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Used for displaying user location on the map -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- Used for reading and writing photos taken by the camera app -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".RiversApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/Theme.Rivers.Dark"
        tools:replace="android:allowBackup">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".ui.activities.splash.SplashActivity"
            android:label="@string/title_activity_splash"
            android:noHistory="true"
            android:theme="@style/Theme.Rivers.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.signIn.SignInActivity"
            android:noHistory="true"
            android:theme="@style/Theme.Rivers.Dark.NoActionBar.Translucent">
        </activity>
        <activity
            android:name=".ui.activities.home.HomeActivity"
            android:label="@string/title_activity_maps"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Rivers.Dark.NoActionBar.Translucent">
        </activity>
        <activity
            android:name=".ui.activities.createSection.CreateSectionActivity"
            android:configChanges="orientation|screenSize"
            android:label=""
            android:parentActivityName=".ui.activities.home.HomeActivity"
            android:theme="@style/Theme.Rivers.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateVisible">
        </activity>
        <activity
            android:name=".ui.activities.editSection.EditSectionActivity"
            android:configChanges="orientation|screenSize"
            android:label=""
            android:parentActivityName=".ui.activities.home.HomeActivity"
            android:theme="@style/Theme.Rivers.Light.NoActionBar.Popup"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name=".ui.activities.sectionDescription.SectionDescriptionActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".ui.activities.home.HomeActivity"
            android:theme="@style/Theme.Rivers.Dark.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activities.settings.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.home.HomeActivity">
        </activity>
        <activity
            android:name=".ui.activities.licenses.LicensesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_licenses"
            android:parentActivityName=".ui.activities.settings.SettingsActivity">
        </activity>
    </application>

</manifest>